<div class="product-card" (click)="emitId()">
  <img class="product-image" [src]="product?.thumbnail" [alt]="product?.name" />
  <h3 class="product-title">{{ product?.name }}</h3>
  <p class="product-description">
    {{ product?.description }}
    <!-- <a href="#" class="read-more">Read more</a> -->
  </p>

  <!-- TODO: Badge to set category -->
  <app-badge>{{ product?.category | replaceHyphen }}</app-badge>
  <div class="product-footer">
    <div class="product-price">
      <span class="price-label">Price</span>
      <span class="price-amount">{{ product?.price | currency : 'USD' }}</span>
    </div>

    <button class="outline-button" (click)="onAddToCart($event)">
      Add To Cart
    </button>
  </div>
</div>
