@use 'styles/utils' as utils;

:host {
  width: 100%;
  position: sticky;

  @include utils.tablet-view {
    position: relative;
    top: 0;
  }
}

.product-sidebar {
  border-radius: 10px;
  border: 2px solid utils.$gray-100;
  font-weight: 500;
  font-size: 1rem;
  min-width: 250px;
  overflow-y: scroll;
  overflow: auto;
  transition: border 0.15s ease;

  &.active {
    border-color: utils.$active-border-color;
  }

  max-height: 400px;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: utils.$black-100;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: utils.$gray-400;
  }

  @include utils.tablet-view {
    width: 100%;
    max-height: 350px;
  }

  .sidebar-icon {
    color: utils.$highlight-color;
  }
  position: relative;

  .title {
    position: sticky;
    z-index: 998;
    top: 0;
    padding: 1rem 0.7rem;
    padding-bottom: 0.5rem;
    font-size: 1rem;
    box-shadow: 0px 2px 5px utils.$black-200;
    color: utils.$faded-gray;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    @-moz-document url-prefix() {
      backdrop-filter: blur(20px);
      background: #070209;

      @include utils.tablet-view {
        background: #071015;
      }
    }
  }

  .categories {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    position: relative;

    .category {
      padding: 0.3rem 0.5rem;
      margin-bottom: 1rem;
      cursor: pointer;
      width: 97%;
      background: linear-gradient(
        to right,
        utils.$black-200 0%,
        transparent 90%
      );

      transition: all 0.2s ease;
      &.active {
        position: relative;

        background-color: utils.$gray-400;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;

        &::after {
          content: '';
          @extend .absolute-centered;
          height: 100%;
          width: 2px;
          background-color: utils.$highlight-color;
          right: unset;
        }
      }
    }

    .category-error {
      border-radius: 10px;
      padding: 0.5rem;
      position: sticky;
      top: 0;
      bottom: 30px;
      left: 0;
      color: utils.$input-error-color;
      border: 2px solid utils.$input-error-color;
      font-size: 0.8rem;
      margin-top: 4px;
      z-index: 1111;
      background-color: utils.$black-100;
      width: calc(100% - 1rem);
      margin: 0 0.5rem;

      opacity: 0;
      transform: scale(0.95) translateY(-5px);
      animation: errorPopIn 0.2s ease-out forwards;

      @keyframes errorPopIn {
        0% {
          opacity: 0;
          transform: scale(0.95) translateY(-5px);
        }
        100% {
          opacity: 1;
          transform: scale(1) translateY(0);
        }
      }
    }
  }
}

input,
label {
  cursor: pointer;
}
