<app-loader *ngIf="isLoading$ | async"></app-loader>

<div *ngIf="error$ | async as error">
  <app-fallback></app-fallback>
</div>

<ng-container *ngIf="!(isLoading$ | async)">
  <div class="product-details" *ngIf="product$ | async as product">
    <div class="carousel-thumbnails">
      <img
        *ngFor="let image of product.images | slice : 0 : 3"
        [src]="image"
        alt="product image"
        priority
        (click)="setMainImage(image)"
        [class.active]="image === mainImage"
        loading="lazy"
      />
    </div>

    <div class="carousel-image">
      <img [src]="mainImage || product.thumbnail" alt="main product image" />
    </div>

    <div class="carousel-details">
      <div class="carousel-header">
        <div class="title">{{ product.name }}</div>
        <div class="badge">{{ product.category }}</div>
      </div>

      <div class="description">
        {{ product.description }}
      </div>
      <div class="cta">
        <div class="price">
          <p>Price</p>
          <p>{{ product.price | currency }}</p>
        </div>
        <app-button>Add To Cart</app-button>
      </div>
    </div>
  </div>
</ng-container>
