<div class="product-details">
  <div class="carousel-thumbnails">
    <img src="assets/product-details-1.jpg" alt="" />
    <img src="assets/product-details-2.jpg" alt="" />
    <img src="assets/product-details-3.jpg" alt="" />
  </div>
  <div class="carousel-image">
    <img src="assets/product-details-1.jpg" alt="" />
  </div>
  <div class="carousel-details">
    <div class="carousel-header">
      <div class="title">Summer T-Shirt</div>
      <div class="badge">Clothes</div>
    </div>

    <div class="description">
      This stylish shirt is made from soft, breathable fabric for all-day
      comfort. Featuring a classic design with a modern fit, it's perfect for
      casual outings or layering. Available in a range of sizes and colors, it
      combines versatility and timeless style, making it a wardrobe essential.
    </div>
    <div class="cta">
      <div class="price">
        <p>Price</p>
        <p>$ 114</p>
      </div>
      <app-button>Add To Cart</app-button>
    </div>
  </div>
</div>
