@use 'styles/utils' as utils;

.product-details {
  // margin-top: 6rem;
  padding: 0 8rem;
  display: grid;
  place-content: center;
  grid-auto-flow: column;
  grid-template-areas: 'thumbnails image details';
  grid-template-columns: 1.125fr 3fr 5fr;
  height: calc(100vh - 90px);

  @include utils.small-desktop-view {
    padding: 0 2rem;
  }

  @include utils.tablet-view {
    margin-top: 4rem;
    padding: 0 1rem;
    grid-auto-flow: row;
    grid-auto-rows: 5fr 1fr 3fr;
    grid-template-areas:
      'image'
      'thumbnails'
      'details';
    grid-template-columns: unset;
    gap: 1rem;
  }

  .carousel {
    &-thumbnails {
      display: flex;
      flex-direction: column;
      padding: 0rem 1rem;
      justify-content: space-around;
      grid-area: thumbnails;
      gap: 0.5rem;

      @include utils.tablet-view {
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        height: 100%;

        img {
          align-self: center;
          width: 120px;
          aspect-ratio: 1/1;
          object-fit: cover;
          cursor: pointer;
          border: 3px solid transparent;
          transition: border 0.3s ease;
        }
      }

      @include utils.tablet-view {
        img {
          width: 80px;
        }
      }

      img {
        background-color: utils.$gray-400;
        padding: 1.5rem;
        cursor: pointer;
        background: utils.$product-bg-color;
        border: 2px solid utils.$gray-400;
        transition: border 0.15s ease;
      }

      .active {
        border: 3px solid utils.$highlight-color;
        background: utils.$product-bg-highlight-color;
      }
    }

    &-image {
      @extend .flex-center;
      border-radius: 10px;
      background: utils.$product-bg-highlight-color;
      padding: 1rem;
      grid-area: image;
      aspect-ratio: 1/1;

      @include utils.tablet-view {
        padding: 0 0 1 0;
      }

      img {
        @include utils.tablet-view {
          width: 50%;
        }
        @include utils.mobile-view {
          width: 100%;
        }
      }
    }

    &-details {
      display: flex;
      flex-direction: column;
      padding: 0rem 1rem;
      justify-content: space-around;
      grid-area: details;

      .title {
        font-size: 2rem;
        font-weight: 600;
      }

      .badge {
        border-radius: 50px;
        margin-top: 10px;
        background-color: utils.$black-200;
        padding: 5px 10px;
        border: 2px solid utils.$gray-100;
        font-size: 0.8rem;
        width: fit-content;
      }

      .description {
        color: #999;
      }

      .cta {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .price {
          p:first-child {
            color: #999;
          }
          p:last-child {
            font-size: 1.3rem;
          }
        }

        .add-to-cart {
          background-color: utils.$highlight-color;
          color: white;
          padding: 5px 20px;
          border-radius: 10px;
          cursor: pointer;
          transition: filter 0.15s ease;

          &:hover {
            filter: brightness(120%);
          }
        }
      }
    }
  }

  img {
    max-width: 100%;
    border-radius: 10px;
    aspect-ratio: 1/1;
  }
}
