.custom-slider {
  --mdc-slider-handle-color: #797979;
  // --mdc-slider-ripple-color: #999 !important;
  // --mat-slider-ripple-color: #999 !important;
  --mdc-slider-focus-handle-color: #b17495;
  --mdc-slider-active-track-color: #999;
  --mdc-slider-inactive-track-color: #999;
  // --mdc-slider-inactive-track-height: 9px;
  // --mdc-slider-active-track-height: 9px;

  // --mdc-slider-handle-height: 25px;
  // --mdc-slider-handle-width: 25px;
}
