@use 'styles/utils' as utils;

:host {
  width: 100%;
}

.search-container {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-self: flex-start;
  width: 100%;

  .search-input {
    border: 2px solid utils.$gray-100;
    border-radius: 10px;
    padding: 0.8rem;
    width: 100%;
    font-size: 1rem;

    &::placeholder {
      color: utils.$faded-gray;
    }

    &:focus {
      border: 2px solid utils.$highlight-color;
      border: 2px solid utils.$active-border-color;
    }

    @include utils.tablet-view {
      width: 100%;
    }
  }

  .search-icon-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0.8rem;
    cursor: pointer;
    margin: auto;
    width: 30px;
    height: 30px;
    text-align: center;

    .inner-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      transition: filter 0.15s ease;
      border-radius: 5px;
      background-color: utils.$highlight-secondary-color;
      padding: 5px;
      width: 30px;
      height: 30px;

      &:hover {
        filter: brightness(120%);
      }
    }
  }
}
