<div class="product-sidebar">
  <div class="title">
    <fa-icon [icon]="faLayerGroup" class="sidebar-icon"></fa-icon>
    Categories
  </div>
  <div class="categories">
    <div
      class="category"
      [class.active]="selectedCategory === 'All'"
      (click)="setCategory('All')"
    >
      All
    </div>
    <div
      class="category"
      [class.active]="selectedCategory === 'Clothes'"
      (click)="setCategory('Clothes')"
    >
      Clothes
    </div>
    <div
      class="category"
      [class.active]="selectedCategory === 'Electronics'"
      (click)="setCategory('Electronics')"
    >
      Electronics
    </div>
    <div
      class="category"
      [class.active]="selectedCategory === 'Furniture'"
      (click)="setCategory('Furniture')"
    >
      Furniture
    </div>
    <div
      class="category"
      [class.active]="selectedCategory === 'Shoes'"
      (click)="setCategory('Shoes')"
    >
      Shoes
    </div>
    <div
      class="category"
      [class.active]="selectedCategory === 'Miscellaneous'"
      (click)="setCategory('Miscellaneous')"
    >
      Miscellaneous
    </div>
  </div>
</div>
