<div class="full-width-wrapper">
  <div class="error-block">
    <h1>Oops! Something Went Wrong</h1>
    <p>Sorry, we couldn’t find the page you were looking for.</p>

    <h2>Possible Issues:</h2>
    <ul>
      <li>
        <strong>Page Not Found:</strong> The page might have been moved or
        deleted.
      </li>
      <li>
        <strong>Server Error:</strong> We are experiencing technical
        difficulties.
      </li>
      <li>
        <strong>Broken Link:</strong> You may have clicked on an outdated link.
      </li>
    </ul>

    <a routerLink="/">Go Back to Home</a>
  </div>
</div>
